.preview-card {
    background-color: white;
    color: black;
    display: flex;
    gap: 30px;
    padding: 30px;
}

.avatar {
    width: 150px;
}

.tech-info {
    display: flex;
    gap: 20px;
}

.globe-logo, .github-logo {
    width: 30px;
}

.footer-container {
    display: flex;
    justify-content: center;
}